/* src/components/Correcciones/Correcciones.css */
.examen-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  border-radius: 10px;
  background-color: #f2f2f2;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  height: 100%; /* Agregamos esta propiedad para ocupar el 100% del contenedor */
}


h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #4CAF50; /* Color verde */
}

p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  text-align: center;
  color: #FFA500; /* Color naranja */
}

button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  color: white;
  background-color: #007bff; /* Color azul */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

button:hover {
  background-color: #0056b3; /* Color azul oscuro */
}

/* Estilos para las diferentes clases de puntajes */
.puntaje-alto {
  color: #4CAF50; /* Verde */
  font-weight: bold;
}

.puntaje-medio {
  color: #FFA500; /* Naranja */
  font-weight: bold;
}

.puntaje-bajo {
  color: #FF0000; /* Rojo */
  font-weight: bold;
}

ul {
  list-style-type: disc;
  margin-left: 20px;
}

li {
  color: red;
  margin: 5px 0;
}

/* Estilos existentes... */

.puntaje-alto {
  color: #4CAF50; /* Verde */
  font-weight: bold;
  background-color: #DFFFD9; /* Verde claro */
  padding: 10px;
  border-radius: 5px;
}

.puntaje-medio {
  color: #FFA500; /* Naranja */
  font-weight: bold;
  background-color: #FFF5DA; /* Amarillo claro */
  padding: 10px;
  border-radius: 5px;
}

.puntaje-bajo {
  color: #FF0000; /* Rojo */
  font-weight: bold;
  background-color: #FFDADA; /* Rojo claro */
  padding: 10px;
  border-radius: 5px;
}
