.examen-container {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pregunta-container {
  width: 80%;
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #f7f3f3;
}

.pregunta-title {
  font-weight: bold;
  margin-bottom: 15px;
}

.opcion-container {
  display: flex;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 5px 0;
  cursor: pointer;
}

input[type="radio"] {
  margin-right: 10px;
  cursor: pointer;
}

button {
  padding: 10px 20px;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 5px;
  margin: 10px;
  cursor: pointer;
}

button:hover {
  background-color: darkblue;
}

.opcion-seleccionada {
  background-color: rgb(91, 201, 22);
}

